<h5>ショッピングカート</h5>
<%= link_to 'カートを空にする', destroy_all_cart_items_path, method: :delete, class: 'btn btn-danger' %>

<table class="table">
  <tr><td>商品名</td><td>単価(税込)</td><td>数量</td><td>小計</td></tr>
  <% @cartitems.each do |cart_item| %>
  <tr>
    <td><%= cart_item.item.name %></td>
    <td><%= cart_item.item.with_tax_price %></td>
    <%= form_with model: cart_item, url: cart_item_path(cart_item.id), method: :patch do |f| %>
    <td><%= f.select :amount, *[1..10] %><%= f.submit '変更', class: 'btn btn-success' %></td>
    <% end %>
    <td><%= cart_item.subtotal %></td>
    <td><%= link_to '削除する', cart_item_path(cart_item), method: :delete, class: 'btn btn-danger' %></td>
    <% @total_amount += cart_item.subtotal %></tr>
  <% end %>
</table>
<p>合計金額<%= @total_amount %></p>

<%= link_to "情報入力に進む", new_order_path, class: 'btn btn-success' %>