<div class="row pt-5">
  <%= render 'list', genres: @genres %>
  <div class="col-lg-2">
    <%= render 'list', genres: @genres %>
  </div>
  <div class="col-lg-3 offset-lg-1">
    <%= image_tag @item.image, size: "300x200" %>
  </div>
  <div class="col-lg-5 offset-lg-1">
    <h5><strong><%= @item.name %></strong></h5>
    <p><%= @item.introduction %></p>
    <h5>¥<%= @item.price %></h5>
  </div>
</div>