<div class="row pt-5">
  <%= render 'list', genres: @genres %>
  <div class="col-lg-3 offset-lg-1">
    <%= image_tag @item.image, size: "300x200" %>
  </div>
  <div class="col-lg-5 offset-lg-1">
    <h5><strong><%= @item.name %></strong></h5>
    <p><%= @item.introduction %></p>
    <h5>¥<%= @item.price %></h5>
    
    <%= form_with model: @cartitem do |f| %>
      <%= f.hidden_field :item_id, value: @item.id %>
      <%= f.hidden_field :customer_id, value: current_customer.id %>
      <%= f.select :amount, *[1..10] %>
      <%= f.submit 'カートに入れる' %>
    <% end %>
  </div>
</div>